In [1]:
import os
os.chdir("..")
!pwd
!pyenv version
%load_ext autoreload
%autoreload 2

/Users/heather/code/loicmorel/crypto_assistant
crypto_assistant (set by PYENV_VERSION environment variable)

In [2]:
import pandas as pd
import numpy as np
from app.data_collection.datamgt import ohlcv_from_csv_to_df
from tqdm import trange
from scipy import stats
from sklearn.linear_model import LinearRegression

In [3]:
file = 'data/ohlcv_FTMUSDT_1h_from_1560225600000_to_1651507200000.csv'
data = ohlcv_from_csv_to_df(file)
data

,o_ts,Open,High,Low,Close,Volume,c_ts,o_date
0,2019-06-11 04:00:00,0.03590,0.04500,0.03000,0.03880,263717825.1,2019-06-11 04:59:59.999000064,18058.166667
1,2019-06-11 05:00:00,0.03877,0.04000,0.03640,0.03659,64533609.0,2019-06-11 05:59:59.999000064,18058.208333
2,2019-06-11 06:00:00,0.03658,0.03842,0.03575,0.03785,52198347.2,2019-06-11 06:59:59.999000064,18058.250000
3,2019-06-11 07:00:00,0.03786,0.03897,0.03730,0.03838,23464091.0,2019-06-11 07:59:59.999000064,18058.291667
4,2019-06-11 08:00:00,0.03838,0.03840,0.03700,0.03750,18949756.5,2019-06-11 08:59:59.999000064,18058.333333
...,...,...,...,...,...,...,...,...
25310,2022-05-02 12:00:00,0.75080,0.78230,0.74890,0.76020,15535567.0,2022-05-02 12:59:59.999000064,19114.500000
25311,2022-05-02 13:00:00,0.76020,0.79070,0.75750,0.78210,20542768.0,2022-05-02 13:59:59.999000064,19114.541667
25312,2022-05-02 14:00:00,0.78210,0.79130,0.76640,0.77970,13173492.0,2022-05-02 14:59:59.999000064,19114.583333
25313,2022-05-02 15:00:00,0.77970,0.78310,0.76630,0.77040,5994211.0,2022-05-02 15:59:59.999000064,19114.625000
25314,2022-05-02 16:00:00,0.77030,0.78990,0.76450,0.78460,4484516.0,2022-05-02 16:59:59.999000064,19114.666667

In [4]:
from app.indicators import find_swings
data_ = find_swings(data)

In [5]:
from app.indicators import classify_swings
data__ = classify_swings(data_)

In [6]:
data__

,Highs,Lows,Last,Trend,CSLS,Support,Resistance,Strong_lows,Strong_highs,FSL,FSH,LL,HL,HH,LH
0,0.04500,0.03000,0.04500,0.0,0,False,False,0.0000,0.0,0.0000,0.0,False,False,False,False
1,0.04000,0.03640,0.04000,NaN,0,False,False,0.0000,0.0,0.0000,0.0,False,False,False,False
2,0.04500,0.00000,0.04500,-1.0,0,False,False,0.0000,0.0,0.0000,0.0,False,False,False,False
3,0.04500,0.03575,0.03575,1.0,0,False,False,0.0000,0.0,0.0000,0.0,False,False,False,False
4,0.03897,0.03575,0.03897,-1.0,0,False,False,0.0000,0.0,0.0000,0.0,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25310,0.80350,0.74260,0.74260,1.0,0,False,False,0.0000,0.0,0.0000,0.0,False,False,False,False
25311,0.80350,0.74260,0.74260,1.0,1,True,False,0.7426,0.0,0.7426,0.0,True,False,False,False
25312,0.80350,0.74260,0.74260,1.0,2,True,False,0.7426,0.0,0.0000,0.0,False,False,False,False
25313,0.79130,0.74260,0.79130,-1.0,0,False,False,0.0000,0.0,0.0000,0.0,False,False,False,False
25314,0.79130,0.76630,0.76630,1.0,0,False,False,0.0000,0.0,0.0000,0.0,False,False,False,False

In [7]:
data__=data__*1

In [8]:
data__

,Highs,Lows,Last,Trend,CSLS,Support,Resistance,Strong_lows,Strong_highs,FSL,FSH,LL,HL,HH,LH
0,0.04500,0.03000,0.04500,0.0,0,0,0,0.0000,0.0,0.0000,0.0,0,0,0,0
1,0.04000,0.03640,0.04000,NaN,0,0,0,0.0000,0.0,0.0000,0.0,0,0,0,0
2,0.04500,0.00000,0.04500,-1.0,0,0,0,0.0000,0.0,0.0000,0.0,0,0,0,0
3,0.04500,0.03575,0.03575,1.0,0,0,0,0.0000,0.0,0.0000,0.0,0,0,0,0
4,0.03897,0.03575,0.03897,-1.0,0,0,0,0.0000,0.0,0.0000,0.0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25310,0.80350,0.74260,0.74260,1.0,0,0,0,0.0000,0.0,0.0000,0.0,0,0,0,0
25311,0.80350,0.74260,0.74260,1.0,1,1,0,0.7426,0.0,0.7426,0.0,1,0,0,0
25312,0.80350,0.74260,0.74260,1.0,2,1,0,0.7426,0.0,0.0000,0.0,0,0,0,0
25313,0.79130,0.74260,0.79130,-1.0,0,0,0,0.0000,0.0,0.0000,0.0,0,0,0,0
25314,0.79130,0.76630,0.76630,1.0,0,0,0,0.0000,0.0,0.0000,0.0,0,0,0,0

In [9]:
df=pd.merge(data,data__,left_index=True,right_index=True)

In [10]:
df=df[['o_ts','Open','High','Low','Close','Volume','LL','HL','HH','LH']]

In [11]:
df

,o_ts,Open,High,Low,Close,Volume,LL,HL,HH,LH
0,2019-06-11 04:00:00,0.03590,0.04500,0.03000,0.03880,263717825.1,0,0,0,0
1,2019-06-11 05:00:00,0.03877,0.04000,0.03640,0.03659,64533609.0,0,0,0,0
2,2019-06-11 06:00:00,0.03658,0.03842,0.03575,0.03785,52198347.2,0,0,0,0
3,2019-06-11 07:00:00,0.03786,0.03897,0.03730,0.03838,23464091.0,0,0,0,0
4,2019-06-11 08:00:00,0.03838,0.03840,0.03700,0.03750,18949756.5,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...
25310,2022-05-02 12:00:00,0.75080,0.78230,0.74890,0.76020,15535567.0,0,0,0,0
25311,2022-05-02 13:00:00,0.76020,0.79070,0.75750,0.78210,20542768.0,1,0,0,0
25312,2022-05-02 14:00:00,0.78210,0.79130,0.76640,0.77970,13173492.0,0,0,0,0
25313,2022-05-02 15:00:00,0.77970,0.78310,0.76630,0.77040,5994211.0,0,0,0,0
25314,2022-05-02 16:00:00,0.77030,0.78990,0.76450,0.78460,4484516.0,0,0,0,0

In [12]:
df['sum'] = df[['HH','HL','LL','LH']].sum(axis=1)
df['NP']=df['sum'].apply(lambda x:1 if x==0 else 0)
df.drop(columns='sum',inplace=True)

In [13]:
df

,o_ts,Open,High,Low,Close,Volume,LL,HL,HH,LH,NP
0,2019-06-11 04:00:00,0.03590,0.04500,0.03000,0.03880,263717825.1,0,0,0,0,1
1,2019-06-11 05:00:00,0.03877,0.04000,0.03640,0.03659,64533609.0,0,0,0,0,1
2,2019-06-11 06:00:00,0.03658,0.03842,0.03575,0.03785,52198347.2,0,0,0,0,1
3,2019-06-11 07:00:00,0.03786,0.03897,0.03730,0.03838,23464091.0,0,0,0,0,1
4,2019-06-11 08:00:00,0.03838,0.03840,0.03700,0.03750,18949756.5,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...
25310,2022-05-02 12:00:00,0.75080,0.78230,0.74890,0.76020,15535567.0,0,0,0,0,1
25311,2022-05-02 13:00:00,0.76020,0.79070,0.75750,0.78210,20542768.0,1,0,0,0,0
25312,2022-05-02 14:00:00,0.78210,0.79130,0.76640,0.77970,13173492.0,0,0,0,0,1
25313,2022-05-02 15:00:00,0.77970,0.78310,0.76630,0.77040,5994211.0,0,0,0,0,1
25314,2022-05-02 16:00:00,0.77030,0.78990,0.76450,0.78460,4484516.0,0,0,0,0,1

In [14]:
df.set_index('o_ts',inplace=True)

In [15]:
df.to_csv('data/transformed_data/FTMUSDT_1h_transformed.csv')

In [17]:
df[['HH','HL','LL','LH','NP']].value_counts()

HH  HL  LL  LH  NP
0   0   0   0   1     19511
            1   0      1702
    1   0   0   0      1660
1   0   0   0   0      1224
0   0   1   0   0      1218
dtype: int64

In [18]:
def subsample_sequence(df, length):
    """
    Given the initial dataframe `df`, return a shorter dataframe sequence of length `length`.
    This shorter sequence should be selected at random
    """
    last_possible = df.shape[0] - length
    
    random_start = np.random.randint(0, last_possible)
    df_sample = df[random_start: random_start+length]
    return df_sample

In [19]:
assert subsample_sequence(df, 10).shape == (10, 10)
assert subsample_sequence(df, 10000).shape == (10000, 10)

In [20]:
def split_subsample_sequence(df, length):
    '''Create one single random (X,y) pair'''
    df_subsample = subsample_sequence(df, length)
    y_sample = df_subsample.iloc[length -1][['LL','HL','HH','LH','NP']]
    
    X_sample = df_subsample[0:length -1]
    X_sample = X_sample.values
    return np.array(X_sample), np.array(y_sample)

In [21]:
(X_sample, y_sample) = split_subsample_sequence(df, 10)
assert X_sample.shape == (9,10)
assert y_sample.shape == (5,)

In [22]:
def get_X_y(df, n_sequences, length):
    '''Return a list of samples (X, y)'''
    X, y = [], []

    for i in range(n_sequences):
        (xi, yi) = split_subsample_sequence(df, length)
        X.append(xi)
        y.append(yi)
        
    X = np.array(X)
    y = np.array(y)
    return X, y

In [23]:
X, y = get_X_y(df, 2000, 21)
print(X.shape)
print(y.shape)

(2000, 20, 10)
(2000, 5)

In [24]:
assert np.isnan(X).sum() == 0

In [25]:
len_ = int(0.8*df.shape[0])
data_train = df[:len_]
data_test = df[len_:]

In [26]:
X_train, y_train = get_X_y(data_train, 2000, 21)
X_test, y_test = get_X_y(data_test, 200, 21)

In [27]:
assert X_train.shape == (2000, 20, 10)

In [28]:
from tensorflow.keras import models
from tensorflow.keras import layers
from tensorflow.keras import optimizers, metrics
from tensorflow.keras.layers.experimental.preprocessing import Normalization

In [30]:


def init_model():
    opt = optimizers.RMSprop(learning_rate=0.01)
    
    normalizer = Normalization()
    normalizer.adapt(X_train)

    model = models.Sequential()
    model.add(normalizer)
    model.add(layers.GRU(units=20, activation='tanh', return_sequences=True))
    model.add(layers.GRU(units=20, activation='tanh', return_sequences=False))
    model.add(layers.Dense(50, activation='relu'))
    model.add(layers.Dropout(0.3))
    model.add(layers.Dense(5, activation='softmax'))

    
    model.compile(loss='categorical_crossentropy', 
                  optimizer=opt, 
                  metrics=['accuracy'])
    
    return model

In [31]:
model = init_model()
model.summary()

2022-05-06 13:15:21.458554: I tensorflow/core/platform/cpu_feature_guard.cc:142] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  SSE4.2
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.
2022-05-06 13:15:21.485463: I tensorflow/compiler/mlir/mlir_graph_optimization_pass.cc:176] None of the MLIR Optimization Passes are enabled (registered 2)

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
normalization (Normalization (None, None, 10)          21
_________________________________________________________________
gru (GRU)                    (None, None, 20)          1920
_________________________________________________________________
gru_1 (GRU)                  (None, 20)                2520
_________________________________________________________________
dense (Dense)                (None, 50)                1050
_________________________________________________________________
dropout (Dropout)            (None, 50)                0
_________________________________________________________________
dense_1 (Dense)              (None, 5)                 255
=================================================================
Total params: 5,766
Trainable params: 5,745
Non-trainable params: 21
_________________________________________________________________

In [32]:
from tensorflow.keras.callbacks import EarlyStopping

es=EarlyStopping(monitor='accuracy', patience=10)

In [33]:
class_weight = {0: 5.,
                1: 5.,
                2: 5.,
                3: 5.,
                4: 1.}

In [34]:
model.fit(X_train, y_train, 
          epochs=75, 
          batch_size=64, 
          verbose=1, 
          callbacks = [es],
          validation_split=0.2,class_weight=class_weight)

WARNING:tensorflow:From /Users/heather/.pyenv/versions/3.8.12/envs/crypto_assistant/lib/python3.8/site-packages/tensorflow/python/ops/array_ops.py:5043: calling gather (from tensorflow.python.ops.array_ops) with validate_indices is deprecated and will be removed in a future version.
Instructions for updating:
The `validate_indices` argument has no effect. Indices are always validated on CPU and never validated on GPU.
Epoch 1/75
25/25 [==============================] - 2s 22ms/step - loss: 2.7277 - accuracy: 0.7169 - val_loss: 0.9637 - val_accuracy: 0.6975
Epoch 2/75
25/25 [==============================] - 0s 8ms/step - loss: 2.3360 - accuracy: 0.5975 - val_loss: 1.0169 - val_accuracy: 0.4550
Epoch 3/75
25/25 [==============================] - 0s 8ms/step - loss: 2.2536 - accuracy: 0.5562 - val_loss: 0.9088 - val_accuracy: 0.6150
Epoch 4/75
25/25 [==============================] - 0s 8ms/step - loss: 2.2310 - accuracy: 0.5738 - val_loss: 0.8944 - val_accuracy: 0.5600
Epoch 5/75
25/25 [==============================] - 0s 7ms/step - loss: 2.1480 - accuracy: 0.5656 - val_loss: 0.8868 - val_accuracy: 0.5375
Epoch 6/75
25/25 [==============================] - 0s 8ms/step - loss: 2.1392 - accuracy: 0.5694 - val_loss: 0.9098 - val_accuracy: 0.5925
Epoch 7/75
25/25 [==============================] - 0s 7ms/step - loss: 2.0598 - accuracy: 0.5844 - val_loss: 0.9466 - val_accuracy: 0.4550
Epoch 8/75
25/25 [==============================] - 0s 8ms/step - loss: 2.0822 - accuracy: 0.5356 - val_loss: 0.8888 - val_accuracy: 0.5175
Epoch 9/75
25/25 [==============================] - 0s 8ms/step - loss: 2.0313 - accuracy: 0.5631 - val_loss: 0.9257 - val_accuracy: 0.5125
Epoch 10/75
25/25 [==============================] - 0s 8ms/step - loss: 1.9935 - accuracy: 0.5387 - val_loss: 0.8652 - val_accuracy: 0.5775
Epoch 11/75
25/25 [==============================] - 0s 8ms/step - loss: 1.9510 - accuracy: 0.6044 - val_loss: 0.9285 - val_accuracy: 0.4975

In [35]:
model.evaluate(X_test, y_test)

7/7 [==============================] - 0s 2ms/step - loss: 0.9755 - accuracy: 0.5650

[0.975504994392395, 0.5649999976158142]

In [36]:
np.round(model.predict_proba(X_test),2)

/Users/heather/.pyenv/versions/3.8.12/envs/crypto_assistant/lib/python3.8/site-packages/tensorflow/python/keras/engine/sequential.py:430: UserWarning: `model.predict_proba()` is deprecated and will be removed after 2021-01-01. Please use `model.predict()` instead.
  warnings.warn('`model.predict_proba()` is deprecated and '

array([[0.01, 0.02, 0.15, 0.33, 0.48],
       [0.37, 0.13, 0.04, 0.18, 0.28],
       [0.06, 0.15, 0.06, 0.33, 0.41],
       [0.42, 0.1 , 0.03, 0.17, 0.28],
       [0.  , 0.15, 0.12, 0.38, 0.34],
       [0.04, 0.46, 0.01, 0.13, 0.36],
       [0.03, 0.08, 0.29, 0.16, 0.44],
       [0.04, 0.28, 0.04, 0.3 , 0.33],
       [0.01, 0.07, 0.2 , 0.35, 0.37],
       [0.31, 0.18, 0.02, 0.17, 0.32],
       [0.02, 0.24, 0.11, 0.33, 0.31],
       [0.32, 0.28, 0.01, 0.1 , 0.3 ],
       [0.02, 0.02, 0.04, 0.09, 0.83],
       [0.05, 0.28, 0.16, 0.23, 0.28],
       [0.  , 0.  , 0.  , 0.  , 1.  ],
       [0.35, 0.14, 0.04, 0.18, 0.29],
       [0.01, 0.1 , 0.19, 0.32, 0.37],
       [0.05, 0.24, 0.11, 0.29, 0.32],
       [0.  , 0.  , 0.  , 0.  , 1.  ],
       [0.38, 0.12, 0.03, 0.19, 0.29],
       [0.  , 0.01, 0.08, 0.26, 0.65],
       [0.  , 0.02, 0.15, 0.34, 0.48],
       [0.03, 0.12, 0.22, 0.28, 0.35],
       [0.44, 0.1 , 0.02, 0.16, 0.27],
       [0.  , 0.08, 0.11, 0.43, 0.37],
       [0.01, 0.2 , 0.11, 0.36, 0.33],
       [0.26, 0.34, 0.  , 0.02, 0.37],
       [0.01, 0.29, 0.09, 0.31, 0.3 ],
       [0.2 , 0.47, 0.  , 0.01, 0.32],
       [0.02, 0.17, 0.1 , 0.33, 0.37],
       [0.  , 0.  , 0.  , 0.  , 1.  ],
       [0.13, 0.46, 0.  , 0.04, 0.37],
       [0.4 , 0.14, 0.05, 0.12, 0.29],
       [0.01, 0.08, 0.21, 0.34, 0.37],
       [0.  , 0.  , 0.  , 0.01, 0.99],
       [0.08, 0.29, 0.13, 0.22, 0.28],
       [0.01, 0.08, 0.14, 0.41, 0.37],
       [0.25, 0.36, 0.01, 0.08, 0.3 ],
       [0.  , 0.01, 0.07, 0.17, 0.75],
       [0.01, 0.03, 0.11, 0.27, 0.58],
       [0.26, 0.36, 0.  , 0.06, 0.32],
       [0.03, 0.34, 0.08, 0.23, 0.32],
       [0.33, 0.18, 0.01, 0.16, 0.32],
       [0.03, 0.23, 0.13, 0.3 , 0.3 ],
       [0.19, 0.47, 0.  , 0.01, 0.33],
       [0.51, 0.22, 0.  , 0.03, 0.24],
       [0.  , 0.  , 0.  , 0.  , 1.  ],
       [0.19, 0.17, 0.08, 0.25, 0.31],
       [0.04, 0.2 , 0.13, 0.22, 0.42],
       [0.05, 0.21, 0.29, 0.1 , 0.35],
       [0.05, 0.21, 0.14, 0.3 , 0.31],
       [0.07, 0.2 , 0.08, 0.28, 0.37],
       [0.  , 0.  , 0.  , 0.  , 1.  ],
       [0.01, 0.27, 0.11, 0.3 , 0.31],
       [0.03, 0.23, 0.13, 0.29, 0.32],
       [0.  , 0.02, 0.14, 0.28, 0.56],
       [0.01, 0.08, 0.19, 0.35, 0.36],
       [0.12, 0.16, 0.22, 0.19, 0.3 ],
       [0.02, 0.04, 0.07, 0.44, 0.44],
       [0.26, 0.13, 0.08, 0.22, 0.31],
       [0.  , 0.  , 0.  , 0.  , 1.  ],
       [0.07, 0.19, 0.17, 0.27, 0.3 ],
       [0.14, 0.57, 0.  , 0.01, 0.28],
       [0.17, 0.21, 0.05, 0.24, 0.34],
       [0.03, 0.24, 0.12, 0.28, 0.33],
       [0.02, 0.17, 0.15, 0.33, 0.33],
       [0.03, 0.11, 0.1 , 0.36, 0.41],
       [0.18, 0.3 , 0.03, 0.18, 0.32],
       [0.1 , 0.34, 0.03, 0.19, 0.33],
       [0.42, 0.11, 0.02, 0.16, 0.28],
       [0.18, 0.29, 0.03, 0.16, 0.34],
       [0.09, 0.49, 0.01, 0.08, 0.33],
       [0.  , 0.  , 0.  , 0.  , 1.  ],
       [0.09, 0.16, 0.21, 0.24, 0.3 ],
       [0.01, 0.07, 0.21, 0.32, 0.38],
       [0.17, 0.41, 0.  , 0.03, 0.39],
       [0.  , 0.  , 0.  , 0.  , 1.  ],
       [0.01, 0.1 , 0.1 , 0.38, 0.39],
       [0.1 , 0.22, 0.08, 0.26, 0.33],
       [0.  , 0.02, 0.09, 0.32, 0.57],
       [0.03, 0.13, 0.16, 0.31, 0.37],
       [0.01, 0.13, 0.26, 0.2 , 0.39],
       [0.14, 0.17, 0.19, 0.22, 0.29],
       [0.  , 0.  , 0.  , 0.  , 1.  ],
       [0.23, 0.33, 0.01, 0.1 , 0.34],
       [0.  , 0.  , 0.  , 0.  , 1.  ],
       [0.  , 0.  , 0.  , 0.  , 0.99],
       [0.21, 0.23, 0.04, 0.19, 0.33],
       [0.  , 0.  , 0.  , 0.  , 1.  ],
       [0.04, 0.07, 0.02, 0.14, 0.73],
       [0.03, 0.25, 0.09, 0.3 , 0.32],
       [0.13, 0.2 , 0.07, 0.27, 0.33],
       [0.04, 0.26, 0.11, 0.28, 0.31],
       [0.  , 0.  , 0.  , 0.  , 1.  ],
       [0.01, 0.14, 0.17, 0.34, 0.34],
       [0.01, 0.07, 0.21, 0.32, 0.38],
       [0.09, 0.45, 0.01, 0.11, 0.35],
       [0.  , 0.  , 0.  , 0.  , 1.  ],
       [0.43, 0.09, 0.03, 0.17, 0.28],
       [0.03, 0.32, 0.11, 0.24, 0.3 ],
       [0.01, 0.15, 0.13, 0.36, 0.36],
       [0.34, 0.38, 0.  , 0.01, 0.27],
       [0.1 , 0.2 , 0.08, 0.29, 0.33],
       [0.03, 0.33, 0.09, 0.24, 0.32],
       [0.01, 0.03, 0.06, 0.48, 0.42],
       [0.03, 0.23, 0.14, 0.29, 0.3 ],
       [0.  , 0.  , 0.  , 0.  , 1.  ],
       [0.35, 0.21, 0.02, 0.12, 0.3 ],
       [0.13, 0.27, 0.04, 0.22, 0.34],
       [0.32, 0.4 , 0.  , 0.01, 0.27],
       [0.03, 0.36, 0.07, 0.2 , 0.34],
       [0.  , 0.  , 0.  , 0.  , 1.  ],
       [0.  , 0.  , 0.  , 0.  , 1.  ],
       [0.15, 0.17, 0.1 , 0.27, 0.31],
       [0.03, 0.1 , 0.13, 0.23, 0.5 ],
       [0.05, 0.3 , 0.05, 0.26, 0.34],
       [0.03, 0.16, 0.19, 0.3 , 0.31],
       [0.1 , 0.28, 0.17, 0.19, 0.27],
       [0.  , 0.01, 0.4 , 0.16, 0.43],
       [0.  , 0.05, 0.14, 0.43, 0.39],
       [0.  , 0.  , 0.  , 0.  , 1.  ],
       [0.02, 0.16, 0.32, 0.08, 0.41],
       [0.15, 0.33, 0.02, 0.17, 0.34],
       [0.  , 0.  , 0.  , 0.  , 1.  ],
       [0.  , 0.  , 0.  , 0.  , 1.  ],
       [0.02, 0.31, 0.08, 0.27, 0.32],
       [0.  , 0.  , 0.  , 0.  , 1.  ],
       [0.  , 0.  , 0.  , 0.  , 1.  ],
       [0.07, 0.23, 0.16, 0.25, 0.29],
       [0.03, 0.31, 0.07, 0.25, 0.33],
       [0.01, 0.09, 0.12, 0.4 , 0.39],
       [0.  , 0.  , 0.  , 0.  , 1.  ],
       [0.01, 0.11, 0.18, 0.36, 0.34],
       [0.04, 0.31, 0.06, 0.26, 0.33],
       [0.01, 0.17, 0.13, 0.36, 0.33],
       [0.  , 0.05, 0.12, 0.41, 0.41],
       [0.13, 0.32, 0.17, 0.12, 0.26],
       [0.16, 0.2 , 0.05, 0.26, 0.33],
       [0.  , 0.  , 0.02, 0.02, 0.96],
       [0.07, 0.26, 0.14, 0.25, 0.28],
       [0.04, 0.29, 0.09, 0.24, 0.35],
       [0.  , 0.04, 0.09, 0.47, 0.4 ],
       [0.24, 0.42, 0.  , 0.01, 0.32],
       [0.  , 0.  , 0.01, 0.01, 0.98],
       [0.  , 0.  , 0.09, 0.63, 0.27],
       [0.42, 0.3 , 0.  , 0.02, 0.26],
       [0.01, 0.12, 0.19, 0.35, 0.34],
       [0.03, 0.16, 0.22, 0.23, 0.35],
       [0.07, 0.27, 0.12, 0.24, 0.29],
       [0.11, 0.15, 0.2 , 0.25, 0.29],
       [0.17, 0.41, 0.  , 0.03, 0.39],
       [0.07, 0.31, 0.06, 0.24, 0.33],
       [0.  , 0.05, 0.08, 0.47, 0.4 ],
       [0.  , 0.  , 0.  , 0.  , 1.  ],
       [0.  , 0.04, 0.2 , 0.36, 0.4 ],
       [0.01, 0.15, 0.08, 0.39, 0.36],
       [0.21, 0.46, 0.  , 0.01, 0.32],
       [0.25, 0.18, 0.04, 0.2 , 0.32],
       [0.09, 0.18, 0.19, 0.26, 0.28],
       [0.41, 0.08, 0.05, 0.17, 0.29],
       [0.22, 0.16, 0.07, 0.24, 0.31],
       [0.02, 0.17, 0.15, 0.33, 0.32],
       [0.04, 0.04, 0.06, 0.4 , 0.46],
       [0.  , 0.  , 0.  , 0.  , 1.  ],
       [0.01, 0.15, 0.16, 0.35, 0.32],
       [0.09, 0.16, 0.2 , 0.26, 0.29],
       [0.01, 0.12, 0.2 , 0.31, 0.36],
       [0.12, 0.16, 0.2 , 0.22, 0.29],
       [0.08, 0.21, 0.11, 0.29, 0.32],
       [0.  , 0.  , 0.  , 0.  , 1.  ],
       [0.  , 0.05, 0.19, 0.36, 0.39],
       [0.01, 0.15, 0.11, 0.37, 0.37],
       [0.06, 0.25, 0.13, 0.25, 0.31],
       [0.23, 0.28, 0.02, 0.14, 0.33],
       [0.  , 0.  , 0.  , 0.  , 1.  ],
       [0.04, 0.17, 0.12, 0.12, 0.54],
       [0.03, 0.32, 0.19, 0.13, 0.32],
       [0.08, 0.55, 0.  , 0.01, 0.35],
       [0.1 , 0.34, 0.03, 0.19, 0.33],
       [0.  , 0.01, 0.13, 0.39, 0.47],
       [0.03, 0.19, 0.15, 0.33, 0.31],
       [0.01, 0.13, 0.17, 0.35, 0.33],
       [0.02, 0.21, 0.13, 0.32, 0.32],
       [0.02, 0.18, 0.24, 0.18, 0.38],
       [0.  , 0.  , 0.  , 0.  , 1.  ],
       [0.03, 0.28, 0.1 , 0.28, 0.3 ],
       [0.01, 0.09, 0.25, 0.22, 0.43],
       [0.05, 0.2 , 0.16, 0.27, 0.32],
       [0.04, 0.32, 0.05, 0.26, 0.33],
       [0.  , 0.  , 0.  , 0.  , 1.  ],
       [0.  , 0.  , 0.05, 0.16, 0.79],
       [0.02, 0.08, 0.2 , 0.34, 0.36],
       [0.  , 0.  , 0.  , 0.  , 1.  ],
       [0.  , 0.06, 0.11, 0.43, 0.4 ],
       [0.06, 0.2 , 0.16, 0.28, 0.3 ],
       [0.04, 0.21, 0.15, 0.29, 0.31],
       [0.  , 0.06, 0.1 , 0.45, 0.39],
       [0.01, 0.12, 0.11, 0.38, 0.38],
       [0.1 , 0.45, 0.  , 0.05, 0.39],
       [0.  , 0.  , 0.  , 0.  , 1.  ]], dtype=float32)

In [37]:
model.save('./models/RNN_FTMUSDT_1h.h5')